<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Health Perigon - Profile  - HDC - INDIVIDUAL DOCTOR</title>
        <meta charset="UTF-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="Health Perigon,Holistic Health,Preventive Health,Artificial intelligence in Healthcare,Machine Learning in Healthcare,Data Driven Digital Healthcare platform,Evidence Based Healthcare,Patient Centric Healthcare,Innovation in Digital Health,Integrating Healthcare and Technology,Superior Quality Healthcare"/>
        <link rel="icon" type="image/png" href="images/icon.png" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" />
        <link rel="stylesheet" type="text/css" href="css/mastars.css" />
    </head>
    <body>
        <nav class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-expand-md logo-holder">
                            <img src="images/logo.png" class="logo" alt="Health Perigon" />
                        </div>
                        <div class="logout-btn-holder">
                            <a class="iconstyle" href="login.html"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="aside">
            <nav class="navbar navbar-expand-md">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
					    <a class="profile active" href="#">
						 <i class="fa fa-user-md profileicon" aria-hidden="true"></i>
						  <Span class="profiletext">Name</span>
                           <span class="profiletext">Designation</span>					  
						</a>
                        <a class="nav-link " href="#">User Creation</a>
                        <a class="nav-link active " href="Individual_Doctor_Change_Password.html">Change Password</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main">
            <div class="col-md-12">
                <div class="content-holder mb-3">
                    <div class="row">
                        <div class="col-md-12 order-md-1">
                         <h5 class="title-holder">Change Password </h5>
                            <div class="row">
                                <div class="col-md-12 order-md-1">
                                    <form onSubmit = "return checkPassword(this)" class="form">
                                        
                                        
											
										<div class="row">
										    <div class="col-lg-3"></div>
											<div class="col-md-12 col-lg-6">
                                                <label for="">Enter old password</label>
                                                <input type="password" class="form-control"  id="myInput1" value="" required />
                                                <input type="checkbox" onclick="myFunction1()"><span style="color:#5b5b5b">Show Password</span>
                                                
                                                <hr>
                                            </div>
                                            
                                            <div class="col-lg-3"></div>
											
											
										
										</div>
                                        
                                        
                                        	
                                        <div class="row">
										    <div class="col-lg-3"></div>
											<div class="col-md-12 col-lg-6">
                                                <label for="">Enter new password</label>
                                                <input type="password"  class="form-control" name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="myInput2" value="" required />
                                                <input type="checkbox" onclick="myFunction2()"><span style="color:#5b5b5b">Show Password</span>
                                                <span style="color:#5b5b5b;font-size:11px;">(one uppercase,one special character,one number,length should be minimum 6)</span>
                                                <hr>
                                            </div>
                                            
                                            <div class="col-lg-3"></div>
											
											
										
										</div>
                                        
                                        <div class="row">
										    <div class="col-lg-3"></div>
											<div class="col-md-12 col-lg-6">
                                                <label for="">re-enter password</label>
                                                <input type="password" class="form-control" name="password2" id="myInput3" value="" required />
                                                <input type="checkbox" onclick="myFunction3()"><span style="color:#5b5b5b">Show Password</span>
                                                <hr>
                                            </div>
                                            
                                            <div class="col-lg-3"></div>
											
											
										
										</div>
												
										<div class="row">
                                            <div class="col-md-12">
                                                <div class="mybtn-holder">
                                                    <button class="mybtn" type="submit">SUBMIT</button>
                                                </div>
                                            </div>
                                        </div>
                                        
										
										
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <script> 
          
            // Function to check Whether both passwords 
            // is same or not. 
            function checkPassword(form) { 
                password1 = form.password1.value; 
                password2 = form.password2.value; 
  
                // If password not entered 
                if (password1 == '') 
                    alert ("Please enter Password"); 
                      
                // If confirm password not entered 
                else if (password2 == '') 
                    alert ("Please enter confirm password"); 
                      
                // If Not same return False.     
                else if (password1 != password2) { 
                    alert ("\nPassword did not match: please enter correct password...") 
                    return false; 
                } 
  
                // If same return True. 
                else{ 
                    alert("Password Match: Welcome to Health Perigon!") 
                    return true; 
                } 
            } 
        </script>
        
        
         <script>
    function myFunction1() {
  var x = document.getElementById("myInput1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
    
     <script>
    function myFunction2() {
  var x = document.getElementById("myInput2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
    
     <script>
    function myFunction3() {
  var x = document.getElementById("myInput3");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
        
        
        <script>
			function specialty2Show() {
			  var x = document.getElementById("hide1");
			  if (x.style.display === "none") {
				x.style.display = "block";
			  } else {
				x.style.display = "none";
			  }
			}
		</script>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/popper-1.16.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
